.mw-cm__header {
    padding: 12px 14px;
    display: flex;
    align-items: center;
    gap: 2px;
    border-bottom: 1px solid #ebebef;
}

.mw-cm__header-text {
    flex: 1;
    font-size: 18px;
    font-weight: 600;
    color: #0f1115;
    white-space: nowrap;
}

.mw-cm__header-remove-btn,
.mw-cm__header-settings-btn,
.mw-cm__header-refresh-btn,
.mw-cm__header-close-btn {
    all: unset;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: background-color 150ms;

    &:hover {
        cursor: pointer;
    }
}

.mw-cm__header-settings-btn-img,
.mw-cm__header-refresh-btn-img,
.mw-cm__header-close-btn-img {
    transition: transform 400ms;
    transform-origin: center;
}

.mw-cm__header-settings-btn:hover .mw-cm__header-settings-btn-img {
    transform: rotate(-90deg);
}

.mw-cm__header-refresh-btn:hover .mw-cm__header-refresh-btn-img,
.mw-cm__header-close-btn:hover .mw-cm__header-close-btn-img {
    transform: rotate(-180deg);
}

.mw-cm__header-remove-btn {
    .mw-cm__header-remove-btn-img-cover,
    .mw-cm__header-remove-btn-img-cover-handle {
        transition: transform 300ms;
    }

    &:hover {
        .mw-cm__header-remove-btn-img-cover,
        .mw-cm__header-remove-btn-img-cover-handle {
            transform: rotate(-15deg) translateX(-4px);
        }
    }
}

.mw-cm__header-remove-btn-img {
    height: 22px;
    width: 18px;
    position: relative;
    top: -2px;
}

.mw-cm__header-settings-btn-img {
    height: 19px;
    width: 19px;
}

.mw-cm__header-refresh-btn-img {
    height: 19px;
    width: 19px;
}

.mw-cm__header-close-btn-img {
    height: 16px;
    width: 16px;
}
